# ----------------------
# Flask
# ----------------------
flask
requests==2.9.1

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn

